@use "../../scss/base.scss";

.c_loginSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;

  img {
    margin-top: 10vh;
    height: 4rem;
  }

  img,
  h1 {
    margin-bottom: 5vh;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    label {
      font-family: "Archivo Black", sans-serif;
      font-size: 2rem;
      line-height: 2.2rem;

      margin: 1rem 0 0.5rem 0;
    }

    input {
      background: base.$light-grey;
      border: 1px solid base.$dark-grey;
      box-sizing: border-box;
      border-radius: 1rem;

      width: 35rem;
      height: 5rem;
      padding: 1vw;

      font-family: "Lexend Mega", sans-serif;
      font-size: 1.6rem;
      line-height: 1.7rem;
    }

    button {
      margin: 2rem 0 1rem 0;

      position: relative;
      left: 11.25rem;
    }

    h3 {
      position: relative;
      left: 9rem;

      span {
        text-decoration: underline;
        color: base.$black;
      }
    }
  }
}
