@use '../../scss/base.scss';

.c_modal {
  width: 66rem;
  height: 44rem;
  background: base.$light-grey;
  padding: 2rem;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  border-radius: 1rem;

  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2,
  section {
    margin: 2rem auto;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 80%;
      height: 6rem;

      font-size: 3rem;
      line-height: 4rem;
      font-family: "Archivo Black", sans-serif;
    }
    select {
      background: base.$light-grey;
      border: 1px solid base.$dark-grey;
      box-sizing: border-box;
      border-radius: 1rem;

      font-family: "Lexend Mega", sans-serif;
      font-size: 1.6rem;
      line-height: 1.7rem;

      width: 12rem;
      height: 6rem;
    }

    button {
      margin: 0 1rem;

      &:hover {
        background: base.$green;
        transform: scale(0.96, 0.96);
        transition: transform ease-in 0.2s;
      }
    }
  }

  input,
  textarea {
    border: 1px solid base.$dark-grey;
    border-radius: 1rem;
    padding: 1rem;
  }
  input,
  textarea,
  select {
    background: transparent;
  }

  textarea {
    font-family: "Lexend Mega", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;

    width: 100%;

    height: 7rem;
    resize: none;
    overflow: auto;
  }

  @media only screen and (max-width: 630px) {
    width: 90vw;

    section {
      width: 80vw;

      flex-direction: column;
      align-items: flex-start;

      input {
        width: 100%;
        margin-bottom: 2rem;

        font-size: 2rem;
        line-height: 2.2rem;
      }
    }

    .s_buttons {
      flex-direction: row;
      button {
        min-width: 9rem;
        margin: 0 0.5rem;

        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}
