@use '../../scss/base.scss';

.c_navbar {
  width: 100vw;

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 119.9rem;
    min-width: 32rem;
    height: 10rem;
    margin: auto;

    padding: 0 0.5rem;

    background: transparent;
    img {
      height: 4rem;
    }

    h3 {
      &:hover {
        cursor: pointer;
        color: base.$orange;
        transition: color ease-in 0.2s;
      }
    }
  }
}
